.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;

  border: 4px solid var(--color-secondary);
  outline: 4px dashed var(--color-primary);
  outline-offset: 5px;
  margin: 1rem;
  position: relative;
  padding: 3rem 1rem;
  background-color: var(--color-primary-alt);
  background-repeat: repeat-x;
  background-position: center -34px;
  color: var(--color-light);

  p:first-child {
    margin-top: 1rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: inherit;
    cursor: pointer;
    pointer-events: auto;

    &:hover{
      color: var(--color-accent);
    }
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }

  .container ul li{
    display: inline-block;
    color: var(--color-primary);
    position: relative;
    transition: color .55s;
    z-index: 2;
  }
  
    .container ul li :after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: var(--color-primary);
      transition: all .55s;
      z-index: -1;
      border-color: var(--color-background);
    }
  
    .container ul li :hover{
      color: var(--color-background);
      outline: 2px solid var(--color-background);
      outline-offset: -3px;
    }
  
    .container ul li :hover:after{
      width: 100%;
      border-radius: 5px;
    }
}
